/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/

#topimage {
	position: relative;

	img {
		display: block;
		width: 100%;
	}

	.caption {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		.copy {
			float: right;
			width: 50%;
			display: none;

			@include media ($medium-screen-up) {
				display: block;
			}

			h3 {
				color: white;
				text-transform: uppercase;
				font-size: 70px;
				line-height: 1;
				margin: 0;

				&:last-of-type {
					font-weight: 100;
					color: $brand-primary;
				}
			}

			p {
				color: white;
				margin: 20px 0 0 0;
			}

			a {
				background: #e5bc19;
				margin-top: 20px;
				display: inline-block;
				color: #333;
				font-weight: 900;
				text-transform: uppercase;
				padding: 8px 40px;
			}
		}
	}
}

#primary {

	article {
		padding: 20px;
		background: white;
		margin-top: -40px;
		position: relative;
		border-top: 3px solid $brand-primary;

		@include media ($medium-screen-up) {
			margin-top: -120px;
		}

		header {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 2px solid $brand-primary;

			h4 {
				font-size: 27px;
				font-weight: 300;
				text-transform: uppercase;
				margin: 0;
				line-height: 1;

				@include media ($medium-screen-up) {
				}
			}
			
			h2 {
				font-size: 40px;
				line-height: 1;
				text-transform: uppercase;
				margin: 0;

				@include media ($medium-screen-up) {
					font-size: 50px;
				}
			}
		}
	}

	.map {
		width: 100%;
		height: 300px;
		
		img {
			max-width: inherit !important;
		}
	}
}

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/

.home {

	article {

		aside {
			padding: 20px;
			background: $brand-primary;

			a.myacc {
				display: block;
				width: 100%;
				text-align: center;
				color: white;
				font-size: 23px;
				text-transform: uppercase;
			}
		}
	}

	.groups {
		border-top: 2px solid $brand-primary;
		margin-top: 20px;
		padding-top: 20px;
		margin-bottom: 20px;
		position: relative;

		.more {
			text-transform: uppercase;
			color: white;
			background: #e5bc19;
			padding: 4px 10px;
			font-weight: 500;
			position: absolute;
			top: auto;
			bottom: 0;
			right: 0;

			@include media ($medium-screen-up) {
				top: 20px;
				bottom: auto;
			}
		}

		h2 {
			margin-bottom: 40px;
			font-size: 18px;

			@include media ($medium-screen-up) {
				font-size: 20px;
			}
		}

		ul {
			margin: 0;
			text-align: center;
			padding-bottom: 30px;

			@include media ($medium-screen-up) {
				padding-bottom: 0;
			}
			
			li {
				display: inline-block;
				width: 48%;
				vertical-align: top;
				margin-bottom: 20px;
				padding: 0 5px;

				@include media ($medium-screen-up) {
					width: 24%;
				}

				img {
					display: block;
					width: 80px;
					margin: 0 auto;
				}

				h3 {
					font-size: 18px;
					text-transform: uppercase;
					font-weight: 200;
					margin: 20px 0 10px 0;
				}

				p {
					font-size: 14px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Our Groups
--------------------------------------------------------------*/

.programmes {

	.signup {
		background: #333;
		width: 100%;
		display: block;
		padding: 9px 20px;
		text-align: center;
		color: white;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 40px;
		margin-top: 40px;

	}

	.groups {

		h2 {
			margin-bottom: 20px;
			font-size: 20px;
		}

		ul {
			margin: 0;
			text-align: left;
			list-style: none;

			li {
				float: left;
				width: 100%;
				border-top: 2px solid #e5bc19;
				margin-top: 20px;
				padding-top: 20px;

				@include media($medium-screen-up) {
					width: 50%;	
				}

				&:nth-child(1), &:nth-child(2) {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;					
				}

				ul {
					list-style: disc;
					margin-left: 40px;
					margin-top: 20px;

					li {
						width: 100%;
						border-top: 0;
						margin-top: 0;
						padding-top: 0;
					}
				}

				.icon {
					width: 100%;
					float: left;
					text-align: center;

					@include media($medium-screen-up) {
						width: 30%;
					}

					img {
						display: block;
					}

					h3 {
						font-size: 20px;
						text-transform: uppercase;
						font-weight: 200;
						margin: 20px 0 0 0;
						color: $brand-primary;
						font-weight: 600;
					}

					.price {
						background: #e5bc19;
						text-align: center;

						h3 {
							color: white;
							font-weight: 700;
							padding: 5px;
							font-size: 25px;
						}
					}
				}

				.copy {
					width: 100%;
					float: left;
					box-sizing: border-box;
					margin-bottom: 40px;
					margin-top: 40px;

					@include media($medium-screen-up) {
						width: 70%;
						padding-left: 20px;
						padding-right: 20px;
						margin-bottom: 0;
						margin-top: 0;
					}

					p {
						font-weight: 600;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/

.contact {

	.notmap {
		background: $brand-primary;
		padding: 20px;
		margin-bottom: 20px;

		h2 {
			border-bottom: 1px solid;
			font-size: 18px;
			margin-bottom: 0px;
		}
	}

	.gform_wrapper {

		input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea,
		input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file'])
		{
			border-color: #ccc;
			border-radius: 0;
			box-shadow: none;
		}

		.gform_fields {
			.gfield {
				padding-right: 0;
			}
		}

		.gform_footer {

			button, input[type="button"], input[type="reset"], input[type="submit"] {
				width: 100%;
				border: 0;
				background: #333;
				color: white;
				text-transform: uppercase;
				border-radius: 0;
				box-shadow: none;
				outline: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## wpmem_reg 
--------------------------------------------------------------*/

#wpmem_reg, #wpmem_login {
	color: black;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;

	form {

		fieldset {
			margin: 0;
			background: transparent;

			legend {
				display: none;
			}

			.div_text, .div_textarea, .div_select, .div_checkbox, .div_multiselect, .div_multicheckbox, .div_radio, .div_image, .div_file, .div_url, .div_number, .div_date {
				width: 100%;
				margin-bottom: 20px;
			}

			.link-text {
				padding: 0;
				width: 100%;
				text-align: right;
				margin-top: 10px;

				a {
					color: white;
				}
			}

			.button_div {
				width: 100%;
				height: auto;
				padding: 0;
				text-align: right;
			}

		}
	}

	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea,
	input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file'])
	{
		border-color: #ccc;
		border-radius: 0;
		box-shadow: none;
	}

	button, input[type="button"], input[type="reset"], input[type="submit"] {
		width: 100%;
		border: 0;
		background: #333;
		color: white;
		text-transform: uppercase;
		border-radius: 0;
		box-shadow: none;
		outline: 0;
	}

}

/*--------------------------------------------------------------
## Login
--------------------------------------------------------------*/

.login {

	#wpmem_login {
		width: 80%;
		margin: 0 auto;

		@include media($medium-screen-up) {
			width: 50%;
		}

		form {

			fieldset {

				.link-text {

					a {
						color: $brand-primary;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Profile & More 
--------------------------------------------------------------*/

.profile,
.recent, 
.admin-view, 
.programme,
.messages,
.settings
{
	#masthead {
		position: relative;;
		width: 100%;
		background: #333;
		z-index: 0;
	}
	
	#primary {

		article {
			padding: 20px;
			background: white;
			margin-top: 0;
			position: relative;
			border-top: 0;
		}
	}

}