.profile {

	img {
		display: block;
	}

	.header {
		position: relative;
	}

	.header-image {
		position: relative;

		img {
			display: block;
		}
	}

	.name_info {

		.avatar {
			position: relative;

			img {
				display: block;
				border: 5px solid white;
				margin: -60px 0 0 30px;
				width: 210px;
			}
		}

		.meta {
			border-bottom: 2px solid $brand-primary;
			position: absolute;
			right: 0;
			bottom: 0;
			padding-bottom: 19px;

			.name {
				float: left;

				h2 {
					line-height: 1.2;
					margin: 0;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 34px;
				}

				h3 {
					line-height: 1;
					margin: 0;
					font-weight: 100;
					text-transform: uppercase;
					font-size: 16px;
				}
			}

			.badges {
				float: right;

				img {
					display: inline-block;
					width: 64px;
				}
			}
		}
	}

	#tabbed {

		#gform_confirmation_message_1 {
			text-align: center;
			background: #96e3b5;
			border: 1px solid darken(#96e3b5, 20);
			padding: 10px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 30px;
		}

		.side {
			border-left: 2px solid $brand-primary;
			padding: 0 0 0 30px;

		}

		/*----- Tabs -----*/
		.tabs {
			width:100%;
			display:inline-block;
		}

		/*----- Tab Links -----*/
		.tab-links {
			margin: 0;
			border-bottom: 2px solid $brand-primary;
			padding-bottom: 30px;
			margin-bottom: 30px;

			&:after {
				display:block;
				clear:both;
				content:'';
			}

			li {
				margin: 0px 10px 0 0;
				float: left;
				list-style: none;

				&.right {
					float: right;
					margin-right: 0;
				}
			
				a {
					padding: 9px 15px;
					display: inline-block;
					font-weight: 600;
					background-color: #f9f9f9;
					transition: all linear 0.15s;

					&:hover {
						background: $brand-primary;
						color: white;
						text-decoration: none;
					}
				}

				&.active {

					a, a:hover {
						background: $brand-primary; 
						color: white; 
					}
				}
			}
		}

		/*----- Content of Tabs -----*/
		
		.tab-content {
		
			.tab {
				display:block;
				position: relative;

				.pb_charts {
					margin-top: 40px;
					position: relative;

					.pb_chart {

						.close {

						}

						dl {
							width: 31.4%;
							margin-right: 20px;

							&:last-of-type {
								margin-right: 0;
							}

							dd {
								width: 30%;
								border-bottom: 1px solid $brand-primary;
								line-height: 2;
								padding: 10px 0;
								font-size: 16px;
								height: 50px;
								font-weight: 600;
								text-align: right;
							}
							
							dt {
								width: 70%;
								border-bottom: 1px solid $brand-primary;
								padding: 10px 0;
								font-size: 16px;
								height: 50px;
							}
						}
					}
				}

				#add_pb, #add_wod {
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.90);
					overflow: scroll;
					z-index: 10;
					display: none;

					&.show {
						display: block;
					}

					.close {
						position: absolute;
						right: 15px;
						top: 15px;
						font-size: 26px;
					}

					.box {
						width: 700px;
						margin: 0 auto;

						div#gform_confirmation_message_2 {
							text-align: center;
							color: white;
							text-transform: uppercase;
						}

						.gform_wrapper ul.gform_fields li.gfield {
							width: 50%;
							float: left;
							clear: none;
							color: white;
							text-transform: uppercase;
							margin-top: 0;
						}

						.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
							width: 50%;
						}

						.gform_wrapper .top_label .gfield_label {
							width: 50%;
							float: left;
							clear: none;
							line-height: 3;
						}
						
						.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input[type=submit] {
							width: 100%;
							background: GOLD;
							text-transform: uppercase;
							color: black;
							border-radius: 0;
							outline: 0;
							border: 0;
						}
					}
				}

				.other_acc_links {

					> ul {
						position: absolute;
						top: 0;
						right: 0;
						margin: 0;
						list-style: none;

						li {
							display: inline-block;
							margin: 0 0 0 5px;
							font-size: 12px;
							color: #999;
						}
					}

					#wpmem_reg fieldset, #wpmem_login fieldset {
						border: none;
						padding: 0;
						margin: 40px 0;
						background: #f9f9f9;
						padding: 20px;
					}
				}

				h2 {
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 2px solid $brand-primary;
					display: block;
					text-transform: uppercase;
					font-size: 30px;
				}

				dl {
					margin: 20px 0 0 0;
					float: left;
					width: 100%;

					dt {
						float: left;
						width: 25%;
						margin: 0;
						color: $brand-primary;
					}
					
					dd {
						margin: 0;
						float: left;
						width: 75%;

						p {
							margin: 0;
						}
					}
				}

				#gform_wrapper_1 {
					margin: 0;
				}

				#field_1_3 {
					margin: 0;
					max-width: 100%;
					min-width: 100%;
					padding: 0;
					width: 100%;
				}

				.update_links {
					position: absolute;
					top: 12px;
					right: 0;

					.update {
						margin-left: 10px;
						padding: 10px;
						background: $brand-primary; 
						color: white;
						font-weight: 600;
					}
				}

				.update {
					padding: 20px 0;
					border-bottom: 1px solid #ccc;

					&:nth-child(even) {
					}

					.meta {
						margin-top: 10px;
						background: #f9f9f9;
						padding: 10px;
						border-top: 4px solid #eee;

						small {
							font-weight: 500;
							text-transform: uppercase;
							margin: 0 0 20px 0;
							display: none;
						}

						.comments-load {
							
							.button {
								color: white;
								text-transform: uppercase;
								font-size: 12px;
								cursor: pointer;
								font-weight: 600;
								background: #333;
								padding: 5px 10px;
							}
						}
					}

					.comments-area {

						.comment {
							position: relative;
							margin-bottom: 5px;
						}

						.commenter {
							font-weight: 600;
						}

						time {
							color: #999;
						}

						.comment-metadata {
							position: absolute;
							top: 0;
							right: 0;
							font-size: 12px;

							a {
								margin: 0 0 0 5px;
								color: #999;
							}
						}

						.comment-list {
							margin: 0 0 20px 0;
						}
						
						img, p {
							display: inline-block;
							margin-right: 5px;
							vertical-align: middle;
						}

						p.comment-form-comment {
							width: 100%;
							margin: 0;
						}
					}

					.comment-reply-title, .logged-in-as, label, .comments-title {
						display: none !important;
					}

					p {
						margin: 0;

						&.form-submit {
							text-align: right;
						}

						textarea {
							height: 50px;
							resize: none;
							display: block;
							box-shadow: none;
							border-color: #eee;
							border-radius: 0;
						}

						button, input[type="button"], input[type="reset"], input[type="submit"] {
							font-size: 12px;
							text-transform: uppercase;
							background: #ffffff;
							padding: 6px 12px;
							font-weight: 500;
							border-radius: 0;
							border-color: #ddd;
							margin-top: -2px;
							color: #666;

							&:hover {
								border-color: $brand-primary;
								background: $brand-primary;
								color: white;
							}
						}
					}
				}
			}
		}
	}
}

#groups {

	h1 {
		line-height: 1;
		display: block;
		color: black;
		text-transform: uppercase;
		font-size: 26px;
		margin-top: 0;
	}

	p {
		margin-bottom: 20px;
	}

	ul {
		margin-bottom: 0;
	}

	.group-posts {
		border-top: 2px solid $brand-primary;
		padding-top: 20px;

		.group-post {
			border-bottom: 2px solid $brand-primary;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}
}