
#colophon {
	text-align: center;
	color: white;
	font-size: 14px;


	.creditwhereitsdue {
		a {
			color: inherit;
			font-weight: 600;
		}
	}

	.site-info {
		background: $dark-gray;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;

		.row {
			position: relative;
		}

		ul {
			float: right;

			li {
				margin-right: 20px;
				margin-left: 0;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

