#masthead {
	position: relative;
	background-color: #2B2B2B;
	width: 100%;

	z-index: 1;
	transition: background-color 300ms ease-in-out;

	@include media($medium-screen-up) {
		position: fixed;
		background-color: transparent;
	}

	&.darkHeader {
		background-color: #2B2B2B;
	}
	
	.row {
		position: relative;
		margin: 0;
	}

	.site-branding {
		float: left;
		@include rem(padding, 20px 0);


		img {
			display: block;
			width: 290px;
		}
	}
}

